@import 'common';

@if ($include-display) {
  .#{$pfx}dis-hide {
    display: none $imp;
  }

  .#{$pfx}dis-block {
    display: block $imp;
  }

  .#{$pfx}dis-inline {
    display: inline $imp;
  }

  .#{$pfx}dis-inline-block {
    display: inline-block $imp;
  }

  .#{$pfx}dis-table {
    display: table $imp;
  }

  .#{$pfx}dis-table-cell {
    display: table-cell $imp;
  }

  .#{$pfx}dis-flex {
    display: flex $imp;
  }

  .#{$pfx}dis-inline-flex {
    display: inline-flex $imp;
  }
}
