@import 'common';

@if ($include-flexbox) {
  .#{$pfx}dis-flex {
    display: flex $imp;
  }

  .#{$pfx}dis-inline-flex {
    display: inline-flex $imp;
  }

  .#{$pfx}flex-row {
    flex-direction: row $imp;
  }

  .#{$pfx}flex-col {
    flex-direction: column $imp;
  }

  .#{$pfx}items-start {
    align-items: flex-start $imp;
  }

  .#{$pfx}items-center {
    align-items: center $imp;
  }

  .#{$pfx}items-end {
    align-items: flex-end $imp;
  }

  .#{$pfx}items-baseline {
    align-items: baseline $imp;
  }

  .#{$pfx}justify-start {
    justify-content: flex-start $imp;
  }

  .#{$pfx}justify-center {
    justify-content: center $imp;
  }

  .#{$pfx}justify-end {
    justify-content: flex-end $imp;
  }

  .#{$pfx}justify-between {
    justify-content: space-between $imp;
  }

  .#{$pfx}justify-around {
    justify-content: space-around $imp;
  }

  .#{$pfx}justify-evenly {
    justify-content: space-evenly $imp;
  }

  .#{$pfx}flex-auto {
    flex: 1 1 auto $imp;
  }

  .#{$pfx}flex-fixed {
    flex-grow: 0 $imp;
    flex-shrink: 0 $imp;
  }

  @for $i from 0 through $flex-grow-shrink-max {
    .#{$pfx}flex-grow-#{$i} {
      flex-grow: $i $imp;
    }

    .#{$pfx}flex-shrink-#{$i} {
      flex-shrink: $i $imp;
    }
  }
}
