doctype html
html
  head
    title flox
    link(rel="stylesheet", type="text/css", href="css/classmate.css")
    style(type="text/css").


  body.t-sans.m-xxl
    h1.c-blue.m-0.hover-bg-red.cursor-pointer testing

    button.bg-blue.c-light.b-none.focus-outline-c-green.focus-outline-size-xl.focus-bg-yellow click me

